<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ("../partials/cabecalho.ejs") %>
</head>

<body>
    <div>
        Usuario <%=usuario.id %>
            <b>Nome:</b>
            <%= usuario.nome %>
                <b>Email:</b>
                <%= usuario.email %>
    </div>
    <a class="btn btn-secondary" href="/usuario">Voltar</a>

</body>

<%- include ("../partials/rodape.ejs") %>

</html>